.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #4f46e5;
  border-radius: 4px;
  border: 2px solid #f1f1f1;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #3730a3;
}
