@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
